{% extends 'base.html' %}

{% block title%}
Contact
{% endblock %}

{% block content %} 
  
<section>
  <div class="innerbanr_sec"  >
      <div class="inb_rowsec">
          <div class="container">
              <div class="mb_emerlinks">
                  <span>Emergency : </span>
                  <a href=""> 0466 12 23 340 </a>
              </div>
              <div class="inb_rowsec_title">
                  <h4>Contact Us </h4>
              </div>
          </div>
      </div>
  </div>
</section>

<section>
    <div class="contact_page in_bg ">
        <div class="container ">
            <div class="contact_info_outer ">
                <div class="row ">
                    <div class="col-lg-4 ">
                        <div class="contact_left ">
                            <h1>City Hospital</h1>
                            <ul>
                                <li><span>Address</span> City Hospital , Vaniamkulam, Ottapalam</li>
                                <li><span>E-mail</span> <a href="">info@cityhospital.com</a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="contact_right">
                            <div class="contact_numbers btn-group" style="font-size:larger">
                                <ul>
                                    <li class="btn btn-outline-success btn-block"> <span>General Enquiry  </span> 0466 12 23 341   </li>
                                    <li class="btn btn-outline-success btn-block"> <span>Emergency  </span> 0466 12 23 342   </li>
                                    <li class="btn btn-outline-success btn-block"> <span>Emergency  </span> 0466  12 23 343  </li>
                                    <li class="btn btn-outline-success btn-block"> <span>Radiology  </span> 0466  12 23 344  </li>
                                    <li class="btn btn-outline-success btn-block"> <span>Insurance  </span>  0466 12 23 345   </li>
                                    <li class="btn btn-outline-success btn-block"> <span>Dialysis  </span> 0466 12 23 346   </li>
                                    <li class="btn btn-outline-success btn-block"> <span>Pharmacy  </span>  0466 12 23 347   </li>
                                    <li class="btn btn-outline-success btn-block"> <span>Laboratory  </span>  0466  12 23 348     </li>
                                    <li class="btn btn-outline-success btn-block"> <span>HR Office </span>0466 12 23 349  </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>






      </div>
  </section><!-- End Hero -->
  
  

 
{% endblock %} 
