{% extends 'base.html' %}


{% block title%}
Registration Details 
{% endblock %}

{% block content %}

{% load static %}
<div class="container text-center">  
    {% for d in messages %}
    {{d}}
    {% endfor %}
</div>

<section id="new_patient" >
    <div class="new-container">
        <div class="row">
            <form id="new-form" action="" method="POST">
                {% csrf_token %}
                <div class="section-title wow fadeInUp" >
                    <h1 class="mt-5 mb-4"> Registration Details </h1>
                </div>
                <div class="wow fadeInUp form-content ">
                    <div class="col-md-10 col-sm-10">
                        <label for="patient_name">Patient Name </label>
                        <input type="text" class="form-control" id="patient_name" name="patient_name" placeholder="Full Name" required>
                    </div>

                    <div class="col-md-10 col-sm-10">
                        <label for="phone_number">Phone Number  </label>
                        <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number" required><br>
                    </div>

                    <div>
                        <label for="gender">Gender  </label>
                        <div class="gender">
                            <select id="gender" name="gender" class="patient-form">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>

                    <div >
                        <label for="patient_age">Age</label>
                        <div class="patient_age"> 
                            <input type="number" id="patient_age" name="patient_age" class="patient-form" value="50">
                            <select name="age_category" id="age_category" class="patient-form">
                                <option value="Years">Years</option>
                                <option value="Months">Months</option>
                                <option value="Days">Days</option>

                            </select>
                        </div>
                        

                    </div><br>
                    <div class="save">
                        <button type="submit" class=" btn btn-primary " id="cf-submit" name="submit">save</button>
                      
                    </div>
               </div>
            </form> 
            <div class="close">
                <a href="{% url 'booking' %}"><button class="btn btn-primary " id="close_button">close</button></a>
            </div>
            

        </div>
        
    </div>

</section>

{% endblock %} 
